:root{
    --human-background-opacity: 0.6;
    --computer-background-opacity: 0.6;
}

body{
    margin: 0px;
    background-color: #333;
    user-select: none;
}

.width-wrapper{
    width: 90%;
    margin: 0 auto 0 auto;
}

.header{
    height: 20vh;
    color: white;
    font-size: min(6vw, 14vh);
    display: flex;
}

.title{
    text-align: center;
    align-self: center;
}

.computer-title, .human-title{
    width: 40%;
}

.computer-title{
    font-family: 'Ubuntu Mono', monospace;
}

.versus-title{
    width: 20%;
    font-family: 'Allan', cursive;
    font-size: min(10vw, 20vh);
}

.human-title{
    font-family: 'Allan', cursive;
}

.arena{
    display: flex;
    justify-content: space-between;
    height: 80vh;
    position: relative;
}

.human{
    background-image: url("images/human-images/human-0-dmg.png");
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 80vh;
}

.human::after{
    content: "";
    width: 50%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: var(--human-background-opacity);
    transition: opacity 0.2s ease-in-out;
}

.computer{
    background-image: url("images/computer-images/computer-0-dmg.png");
    background-repeat: no-repeat;
    background-size: 60vh;
    background-position: 20% center;
}

.computer::after{
    content: "";
    width: 50%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 50%;
    opacity: var(--computer-background-opacity);
    transition: opacity 0.2s ease-in-out;
}

.human > *, .computer > *{
    z-index: 10;
}

.arena > div{
    width: 50%;
}

.arena > .computer > .toolbox{
    float: right;
}

.toolbox{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 2vh 0 5vh 0;
}

.image-wrapper{
    width: 20vh;
    height: 20vh;
    border: .6vh solid white;
    z-index: 2;
}

.image-wrapper > img{
    display: block;
    pointer-events: none;
    position: absolute;
    height: 20vh;
    width: 20vh;
    transition: transform .1s ease-in-out, left .4s ease-in-out, top .4s ease-in-out; 
}

.onArena{
    left: calc(50% - 10vh) !important;
    top: calc(50% - 10vh) !important;
}