body{
    margin: 0px;
    background-color: #333;
}

.width-wrapper{
    width: 90%;
    margin: 0 auto 0 auto;
}

.header{
    height: 20vh;
    color: white;
    font-size: min(6vw, 14vh);
    display: flex;
}

.title{
    text-align: center;
    align-self: center;
}

.title.computer, .title.human{
    width: 40%;
}

.title.computer{
    font-family: 'Ubuntu Mono', monospace;
}

.title.versus{
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: min(8vw, 17vh);
}

.title.human{
    font-family: 'Allan', cursive;
}

.arena{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    height: 80vh;
    padding: 2% 0 5% 0;
}

.arena > div{
    width: 50%;
}

.arena > .computer > .toolbox{
    float: right;
}

.toolbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.image-wrapper{
    width: fit-content;
    border: .6vh solid white;
}

.image-wrapper > img{
    width: 20vh;
}

.human .image-wrapper:hover img{
    transform: scale(110%);
}

img{
    transition: transform .1s;
}